*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../imeges/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    text-align: center;
    background-attachment: fixed;
}
header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
.navbar-brand img{
    width: 150px;
}
.navbar-light .navbar-nav .nav-link {
     color: #fff;
    font-size: 16px;    
    text-transform: uppercase;
}
header h3{
    color: #fff;
    font-size: 27px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}
header h1{
    color: #fff;
    font-size: 85px;
    text-align: center;
    margin-bottom: 70px;
}
header span{display: block;height: 3px;width: 87px;background: #fb2056;margin: auto;}

.btn-learn{
    color: #fff;
    background-color: #fb2056;
    border-radius: 30px;
    padding: 0;
    padding: 10px 35px;
    text-transform: uppercase;
}
.height{
    min-height: 90vh;
    align-items: center;
}





.quatision{
    background-color: #f5f5f5;
    padding: 50px 0;
}
.coute img{
    width: 100px;

}
.quatision h4{

font-size: 23px;
}
.quatision p{

font-size: 20px;

margin-top: 19px;

/* color: #100f0f; */
}
.events{

padding: 70px 0;
}
.heading{

margin-bottom: 50px;
}
.heading h1{

text-align: center;

margin-bottom: 30px;
}
.heading span{

display: block;

height: 3px;

width: 100px;

background-color: #fb2056;

margin: auto;
}
.events-content img{
    
box-shadow: 13px 12px #d6d6db;
    
border-radius: 4px;
}
.events-content h2{

text-align: center;

margin: 30px 0;
}
.events-content p{

text-align: center;
font-size: 20px;
}
.events-content{

text-align: center;
}
.explore{
    background-image: url(../imeges/stand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}
.explore::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;

}
.explore h1{

color: #fff;

margin-bottom: 25px;
}
.explore span{
    display: block;
    height: 3px;
    width: 60px;
    background-color: #fb2056;
    margin-bottom: 25px;
}
.explore p{

color: #fff;
font-size: 20px;
}
.height-two{
    min-height: 80vh;
    align-items: center;
}

.upcoming{
    margin: 70px  0;
    margin-bottom: 100px;
}
.upcoming h1{

font-size: 58px;
}
.upcoming p{

font-size: 20px;
margin-bottom: 30px;
}
.upcoming span{
    display: block;
    height: 3px;
    width: 60px;
    background-color: #fb2056;
    margin-top: 15px;
    margin-bottom: 15px;
}
.upcoming img{
    
margin-bottom: -80px;
    
max-width: 87%;
}
.footer{

background-color: #72726c;

height: 200px;
}
.footer h5{
    
color: #fff;
    
text-align: center;
    
margin: 50px 0;
}
.turs-efect{
    
}